<h2 class="flex justify-center text-2xl font-semibold mt-5">Witaj!</h2>

<div class=" mt-20 ml-10 mr-10 ">
    <a class="pl-10">Witaj </a> na mojej stronie, poświęconej sprzedaży unikatowych bitów muzycznych, idealnych do produkcji własnych utworów.
Jestem inżynierem dźwięku z wieloletnim doświadczeniem, działającym w przemyśle muzycznym przez blisko osiem lat.
<p><a class="pl-10">Moja </a> praca opiera się na pasji do muzyki, co przejawia się w stworzeniu wysokiej jakości dźwięków i melodyjnych sekwencji.
    Posługuję się najnowszymi technologiami i wtyczkami, gwarantującymi najwyższą jakość i innowacyjność w moich produkcjach.
    Dostępne u mnie bity to efekt mojego obszernego doświadczenia oraz ciągłego poszukiwania świeżych brzmień i inspiracji.
    Możesz liczyć na profesjonalny kontakt ze mną - jestem dostępny przez różnorodne platformy społecznościowe oraz inne środki komunikacji.
    Tworzę muzykę, która wykracza poza granice, inspirującą do tworzenia własnych utworów oraz nadającą im wyjątkowy charakter.
    Wszystkie bity, które oferuję, są starannie stworzone z myślą o różnorodnych gatunkach muzycznych i różnych preferencjach twórczych.
    Moje bogate portfolio i szerokie doświadczenie gwarantują, że każdy klient otrzymuje unikalne i wysokiej jakości produkty.</p>
    <p class="mt-4 font-bold">Moje sociale:</p>
    <p class="mt-4 font-semibold">Instagram <a href="https://www.instagram.com/___daantee___/"><img class="mt-2" src="./assets/insta-icon.png" alt=""></a></p>
    <p class="mt-4 font-semibold mb-10">Youtube<a href="https://www.youtube.com/channel/UCf8UHCMNj30uAqCtR9DMu0w"><img class="mt-2" src="./assets/yt-icon.png" alt=""></a></p>
</div>

