<div class="">
    <h3 class="flex justify-center w-full font-semibold text-xl mt-10 mb-5">Poniżej lista artystów, którzy mixowali u mnie! </h3>
    <div class="flex flex-wrap xl:flex-row flex-col xl:justify-between ml-10 mr-10 xl:mt-20 items-center xl:mb-5">

    <div class="card w-96 bg-base-100 shadow-xl xl:mb-10 mb-10">
        <figure><img src="./assets/grochubartt.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">GrochuBartt</h2>
          <p class="font-medium">Prawie cała twórczość GrochuBarta została zmixowana przeze mnie!</p>
          <p>Spotify <a href="https://open.spotify.com/artist/0udNvQewjNlhacBKhSrxiq?si=DuKHM9srQS6NsngrPdB0xw"><img class="w-8 h-8 ml-2 inline-block align-middle" src="./assets/spotify-icon.png" alt=""></a></p>
          <p>YouTube <a href="https://open.spotify.com/artist/0udNvQewjNlhacBKhSrxiq?si=DuKHM9srQS6NsngrPdB0xw"><img class="w-10 h-10 ml-2 inline-block align-middle" src="./assets/yt-icon.png" alt=""></a></p>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl xl:mb-10 mb-10">
        <figure><img src="./assets/3mix.jpg" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Inni</h2>
          <p class="font-medium">Reszta twórców dla których wykonałem m/m!</p>
          <p>Hare - SBM Starter <a href="https://www.tiktok.com/@letsgohare/video/7303528480669502753"><img class="w-10 h-10 ml-2 inline-block align-middle" src="./assets/tiktok-icon.png" alt=""></a></p>
          <p>Młody West x GrochuBartt - Wolny Czas <a href="https://open.spotify.com/track/1dzVIQ2BBtUZhIiiufmd0e?si=037ca67a102a4ed0"><img class="w-8 h-8 mt-1 inline-block align-middle" src="./assets/spotify-icon.png" alt=""></a></p>
          <p>Kreweta - Zielone Płuca <a href="https://www.youtube.com/watch?v=JC-Ew0sBYuI&ab_channel=Kreweta"><img class="w-10 h-10 ml-2 inline-block align-middle" src="./assets/yt-icon.png" alt=""></a></p>
          <p>BlumSon - Wpadamy Na Blok  <a href="https://www.youtube.com/watch?v=RZLzOv0m73E&ab_channel=%E3%83%84BlumSon"><img class="w-10 h-10 ml-2 inline-block align-middle" src="./assets/yt-icon.png" alt=""></a></p>
        </div>
      </div>

      <div class="card w-96 bg-base-100 shadow-xl xl:mb-10 mb-10">
        <figure><img src="./assets/trapaltan.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">TrapAltan</h2>
          <p class="font-medium">W większości kawałków tej ekipy wykonałem mixik!</p>
          <p>Crew <a href="https://www.youtube.com/watch?v=VsXKY8x8vX4&ab_channel=621BLOCC"><img class="w-10 h-10 ml-2 inline-block align-middle" src="./assets/yt-icon.png" alt=""></a></p>
          <p>On The Floor <a href="https://www.youtube.com/watch?v=XfYqqJOFgMI&ab_channel=621BLOCC"><img class="w-10 h-10 ml-2 inline-block align-middle" src="./assets/yt-icon.png" alt=""></a></p>
        </div>
      </div>

     

     

    </div>
</div>