<div class="flex  flex-col justify-center items-center mt-5 mb-8">
    <div class="text-sm breadcrumbs">
        <ul>
          <li><a >Dane zamówienia</a></li> 
          <li>Płatność</li> 
          <li><a class="font-semibold">Podsumowanie</a></li>
        </ul>
      </div>
<div class="flex justify-center items-center flex-col">
<h3 class="mb-5 mt-5">Udało Ci się zakupić produkt!</h3>
<h3 class="mb-5">Twój numer ID zamówienia: {{transactionId}}</h3>
<h3 class="mb-5">Zamówienie wkrótce będzie na Twoim adresie e-mail</h3>
</div>
