<div class="card flex   lg:card-side bg-base-100 shadow-xl mt-5">
    <figure><iframe width="560" height="315" src="https://www.youtube.com/embed/yE7CxleNmaA" frameborder="0" allowfullscreen></iframe></figure>
    <div class="card-body">
      <h2 class="card-title">Central Cee Type Beat - Obsessed with you </h2>
      <p title="Bit może być sprzedawany wielokrotnie, nie masz go na wyłączność!">Licencja Basic : 150 zł</p>
      <p title="Bit może być tylko raz, masz go na wyłączność!">Licencja Exclusive : 300 zł</p>
      <div class="card-actions justify-end">
        <a href="https://www.youtube.com/watch?v=yE7CxleNmaA">
        <button class="btn btn-primary" >Posłuchaj </button>
    </a>
      </div>
    </div>
  </div>

<div class="card flex   lg:card-side bg-base-100 shadow-xl mt-10">
    <figure><iframe width="560" height="315" src="https://www.youtube.com/embed/S3GAWQwBZZ0" frameborder="0" allowfullscreen></iframe></figure>
    <div class="card-body">
      <h2 class="card-title">Guitar x Drake Type Beat - Gitarka </h2>
      <p title="Bit może być sprzedawany wielokrotnie, nie masz go na wyłączność!">Licencja Basic : 170 zł</p>
      <p title="Bit może być tylko raz, masz go na wyłączność!">Licencja Exclusive : 320 zł</p>
      <div class="card-actions justify-end">
        <a href="https://www.youtube.com/watch?v=S3GAWQwBZZ0">
        <button class="btn btn-primary" >Posłuchaj </button>
    </a>
      </div>
    </div>
</div>

<div class="card flex   lg:card-side bg-base-100 shadow-xl mt-10 mb-10">
    <figure><iframe width="560" height="315" src="https://www.youtube.com/embed/bytT-ECj92c" frameborder="0" allowfullscreen></iframe></figure>
    <div class="card-body">
      <h2 class="card-title">Rage Type Beat - HypnoRage</h2>
      <p title="Bit może być sprzedawany wielokrotnie, nie masz go na wyłączność!">Licencja Basic : 100 zł</p>
      <p title="Bit może być tylko raz, masz go na wyłączność!">Licencja Exclusive : 200 zł</p>
      <div class="card-actions justify-end">
        <a href="https://www.youtube.com/watch?v=bytT-ECj92c">
        <button class="btn btn-primary" >Posłuchaj </button>
    </a>
      </div>
    </div>
</div>
